
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gris);
    font-family: Inter, sans-serif;
}

/* CALENDAR */
section .date {
    padding-left: var(--padding-left);
}

section .date p {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.calendar-wrap {
    /* border: 1px solid #000; */

    margin-top: 20px;
    height: 675px;
    display: flex;
    justify-content: center;
}

.day1 {
    /* border: 1px solid #000; */
    height: 100%;
    width: 100%;
}

.day2 {
    border-style: none solid;
    border-width: 1px;
    border-color: #dddddd;
    height: 100%;
    width: 100%;
}

.day3 {
    /* border: 1px solid #000; */
    height: 100%;
    width: 100%;
}

.card-wrap {
    /* border: 5px solid rgb(33, 4, 199); */

    height: 200px;
    background: white;
    width: 400px;
    display: flex;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-info {
    /* border: 2px solid rgb(24, 143, 77); */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px 0 0 15px;

    gap: 20px;
}

.product {
    font-size: 25px;
    font-weight: bold;
}

.mini-info {
    font-size: 14px;
    color: #808080;
}
.product-img {
    /* border: 5px solid #000; */

    width: 100%;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.dose-info, .animal-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dose-animal-wrap {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.dose-animal-wrap img {
    filter: invert(56%) sepia(9%) saturate(18%) hue-rotate(338deg) brightness(87%) contrast(92%);
}













/* POUR "Ajouter un produit"
.dropdown::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: white;
    transform: rotate(45deg);

} */