@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --bleu: #1294DE;
    --circle-top: #12C5EC;
    --circle-bottom: #1294DE;
    --gris: #f9f9f9;

    --padding-left: 30px;
}

.error {
    color: rgb(180, 18, 18);
}

.btn-group {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
}

.btn-group button {
    margin: 0;
    width: 50%;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px 0 0 15px;

    gap: 20px;
}

.product {
    font-size: 25px;
    font-weight: bold;
}

.mini-info {
    font-size: 14px;
    color: #808080;
}
.product-img {
    width: 100%;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.dose-info, .animal-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dose-animal-wrap {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.dose-animal-wrap img {
    filter: invert(56%) sepia(9%) saturate(18%) hue-rotate(338deg) brightness(87%) contrast(92%);
}
